@font-face {
  font-family: 'PangMenZhengDao';
  src: url('./PangMenZhengDao.ttf');
}
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei.ttf');
}
@font-face {
  font-family: 'Alibaba-PuHuiTi-Bold';
  src: url('./Alibaba-PuHuiTi-Bold.ttf');
}
@font-face {
  font-family: 'PingFangSC-Regular';
  src: url('./PingFangSCRegular.ttf');
}